@import '../bootstrap/scss/functions';
@import '../stylesheets/helpers/_variables';
@import '../bootstrap/scss/bootstrap';
@import '../bootstrap/scss/modal';
@import './shoppingning';
@import './checkout';
@import './snailcoursexperience';
@import './snailcoursecategory';
@import './snailonlinecourse';
@import './snailplaypage';
@import './cindymember.scss';
@import './cindylogin.scss';
@import './cindyaccount.scss';
@import './cindyorder.scss';
@import './cindylike.scss';
@import './cindycoupon.scss';
@import './winnieproduct.scss';
@import './winnieproductcustomize.scss';
@import './winnieproductdetail.scss';
@import './biddetail.scss';
@import './changbiddetail.scss';
@import './changbidindex.scss';
@import './changbidmoney.scss';
// info 按鈕
.btn-text:hover {
  color: white;
}
// 計數器
.counter-border {
  border-radius: 5px;
}
//強制文字置中
text {
  justify-content: center;
  text-align: center;
}

// checkbox radio 要重寫
// input[type="checkbox"],
// input[type="radio"] {
//   display: none;
// }
