// bid-banner
.chang-banner {
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

// winnie(不要動) card
.winnie-card-name {
  color: $primary;
  font-size: $font-size-base * 1.25;
  padding: 10px 0 10px 0;
  word-break: break-all;
  .far.fa-heart {
    color: $danger;
  }
}

// 讓div不要預設(失效)
.chang-no-div {
  padding-left: 0px;
  padding-right: 0px;
}

.chang-title-line {
}

.chang-time {
  margin-left: 10px;
  margin-top: 10px;
  color: #77777a;
}
