/* 字體 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500&display=swap');

* {
  font-family: 'Noto Serif TC', serif;
  /* font-family: 'Cinzel', serif; */
}

.chang-input {
  border-bottom: solid 1px rgb(187, 187, 187);
}

.chang-bid-btn {
  font-size: 16px * 0.94;
  text-align: center;
  border: none;
  background-color: transparent;
  color: #fcaa3e;
  padding: 15px 30px;
  border-radius: 5px;
  border: 2px solid #cacaca;
}

.chang-bid-btn:hover {
  color: #fcaa3e;
  background-color: #ffffff;
}

// 競標表格頭像
.chang-bidding-photo {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.chang-bid-table-title > th {
  border: 0px;
}

// 競標表格
.chang-bid-table > tr > td {
  vertical-align: middle;
  border-left: 0px;
  border-right: 0px;
  background-color: #ffffff;
  margin-bottom: 100px;

  // 文字顏色
  color: #615956;
  font-size: $font-size-base * 0.875; //14px;
  /* letter-spacing: 100px; */
  line-height: 33px;
}

// 競標表格(會員)字體顏色?????????????????????????呼叫不到
.chang-account-text {
  margin-bottom: 100px;
  color: #92b6ba;
  font-size: $font-size-base * 0.875; //14px;
  /* letter-spacing: 100px; */
  line-height: 33px;
}

.chang-detail-t-bg {
  height: 80vh;
  background-image: url('https://res.klook.com/image/upload/c_fill,w_960,h_460,f_auto/w_80,x_15,y_15,g_south_west,l_klook_water/activities/qfkukzhlnkfwio6vtspj.webp');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.lotzu-title-line {
  h3 {
    font-family: 'Cinzel', serif;
    font-size: 30px;
    line-height: 33px;
    color: #77777a;
    padding: 28px 0px 20px 0px;
    &::before {
      content: '$';
    }
  }
  .chang-border-bottom {
    border-bottom: #92b6ba solid 3px;
    padding-top: 8px;
    padding-bottom: 8px;

    h2 {
      font-size: $font-size-base * 1.25; //20px;
      line-height: 33px;
      color: #92b6ba;
    }
    p {
      font-size: $font-size-base * 0.875; //14px;
      color: $success;
      line-height: 33px;
      .i {
        color: $danger;
        font-size: $font-size-base * 0.875; //14px;
      }
    }
  }
}

.chang-text {
  margin-bottom: 20px;
  margin-top: 20px;
  color: #615956;
  font-size: $font-size-base * 0.875; //14px;
  /* letter-spacing: 100px; */
  line-height: 33px;
}

.hammer {
  margin-right: 10px;
}

.chang-img-change-s {
  background-size: cover;
  background-position: center;
  display: flex;
  position: absolute;
  z-index: 3;
  left: 57px;
  top: 385px;
  img {
    margin: 0px 5px;
    border: 3px solid white;
    transition: 0.2s;
    &:hover {
      cursor: pointer;
      border: 3px solid #77777a;
    }
  }
}

.bidbuy {
  margin-top: 10px;
  background-color: transparent;
  border: transparent;
}

.bidbuy:hover {
  margin-top: 10px;
  background-color: transparent;
  color: #92b6ba;
  border: transparent;
}

.bidlowbuy {
  // background-color: rgba(228, 228, 228, 0.383);
  // border: none;
  font-size: 14px;
  color: #707070;

  font-size: 16px * 0.94;
  text-align: center;
  border: none;
  background-color: transparent;
  // color: #92b6ba;
  padding: 15px 50px;
  border-radius: 5px;
  border: 2px solid #70707049;
}

.bid-close-btn {
  // border: none;
}

.chang-demo-button {
  border: none;
  background-color: transparent;
  color: #c5c5c5;
}
