// bid-banner
.chang-banner {
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

// winnie(不要動) card
.winnie-card-name {
  color: $primary;
  font-size: $font-size-base * 1.25;
  padding: 10px 0 10px 0;
  word-break: break-all;
  .far.fa-heart {
    color: $danger;
  }
}

// 讓div不要預設(失效)
.chang-no-div {
  padding-left: 0px;
  padding-right: 0px;
}

.chang-time {
  margin-left: 10px;
  margin-top: 10px;
  color: #77777a;
}

.chang-index-t-bg {
  height: 80vh;
  background-image: url('http://localhost:3008/chang-images/banner.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.chang-product-f-bg {
  height: 80vh;
  background-image: url('http://localhost:3008/chang-images/footer.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.chang-photo {
  background: #fff;
  // border-radius: 2px;
  display: inline-block;
  // height: 300px;
  // margin: 1rem;
  position: relative;
  // width: 300px;
  padding-left: 0px;
  padding-right: 0px;
}

.chang-photo:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
