body {
  /* banner會有白邊，body預設 */
  margin: 0;
  padding: 0;
}

.bannerpic {
  width: 100%;
  /* height: 605px; */
  background-color: blue;
  background-repeat: no-repeat;
  /* 用不了? */
  /* background-size: cover; */
  /* overflow: hidden; */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.con {
  /* padding: 15px 270px 0px 270px; */
  margin-top: 15px;
  /* background-color: rgb(213, 227, 228); */
}

.kidpic {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  /* 用不了? */
  /* background-size: cover; */
  overflow: hidden;
}

img {
  width: 100%;
}

.footer {
  /* background-color: cornflowerblue; */
  width: 100%;
  height: 300px;
}

.box2 {
  margin-left: 0px;
  margin-right: 0px;
}

.box3 > h2 {
  border-bottom: cadetblue solid 3px;
  padding-bottom: 15px;
}

.titleborder {
  width: 100%;
  border-top: cadetblue solid 3px;
}

.box4 {
  margin-top: 100px;
}

.box5 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.chang-time {
  margin-left: 10px;
  margin-top: 10px;
  color: #77777a;
}
