/*↓↓↓↓↓↓↓↓↓↓ _chiennavbar.scss ↓↓↓↓↓↓↓↓↓↓*/
/* logo.svg */
.cls-1 {
  fill: none;
}
.cls-2 {
  fill: #ffffff;
}
/* logo.svg */
.chien-header,
.cls-2,
.chien-ham-bar,
.chien-navbar,
#chien-navbar-icon-member,
#chien-navbar-icon-cart,
#chien-nav-top0 {
  transition: all 0.5s;
}

.chien-navbar-logo {
  width: 7%;
  max-width: 180px;
  position: absolute;
  z-index: 9987;
  top: 20px;
  left: 30px;
}

.chien-homepage-navbar-logo {
  width: 7%;
  max-width: 180px;
  position: absolute;
  z-index: 9987;
  top: 20px;
  left: 30px;
}

.chien-navbar-hidden-icon {
  color: rgba(0, 0, 0, 0);
}

.chien-navbar-item-member {
  margin: 25px 10px 10px 10px;
}

.chien-navbar-icon-member {
  color: #fff;
  font-size: 20px;
}

.chien-navbar-item-cart {
  margin: 0px 10px 10px 10px;
}

.chien-navbar-icon-cart {
  color: #fff;
}

.chien-nav-checkbox {
  position: absolute;
  z-index: 9989;
  top: 0;
  right: 0;
}

.chien-ham {
  width: 50px;
  height: 50px;
  display: block;
  position: fixed;
  z-index: 9989;
  top: 0;
  right: 0;
}

.chien-ham-origin {
  position: absolute;
  top: 50%;
  left: 50%;
}

.chien-ham-bar {
  height: 3px;
  width: 18px;
  position: absolute;
  background: white;
  margin: 10px 0 0 -19px;
  transition: all 0.5s;
}

.chien-ham-bar-top {
  transform: translateY(-6px);
}

.chien-ham-bar-bottom {
  transform: translateY(6px);
}

#chien-nav-toggle {
  display: none;
}

#chien-nav-toggle:checked ~ .chien-ham .chien-ham-bar-middle {
  opacity: 0;
}

#chien-nav-toggle:checked ~ .chien-ham .chien-ham-bar-top {
  transform: rotate(-45deg);
  background: #fff !important;
}

#chien-nav-toggle:checked ~ .chien-ham .chien-ham-bar-bottom {
  transform: rotate(45deg);
  background: #fff !important;
}

.chien-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9988;
  background: rgba(146, 182, 186, 0.7);
  transform: translateX(100%);
  transition: transform 0.5s;
}

#chien-nav-toggle:checked ~ .chien-menu {
  transform: none;
}

.chien-menu-list {
  height: 80%;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
}

.chien-menu-item {
  margin-top: 0px;
}

.chien-menu-underline {
  width: 70%;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #92b6ba;
}

.chien-menu-link {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
  line-height: 5rem;
  &:hover {
    text-decoration: none;
    color: #fcaa3e;
  }
}
/*↑↑↑↑↑↑↑↑↑↑ _chiennavbar.scss ↑↑↑↑↑↑↑↑↑↑*/

/*↓↓↓↓↓↓↓↓↓↓ _chienbanner.scss ↓↓↓↓↓↓↓↓↓↓*/
.chien-slider {
  height: 90vh;
  position: relative;
  overflow: hidden;
}
.chien-slide1,
.chien-slide2,
.chien-slide3,
.chien-slide4 {
  position: absolute;
  width: 110%;
  height: 100%;
}
.chien-slide1 {
  background: url(http://localhost:3008/chien-images/bn-1.jpg) no-repeat bottom;
  background-size: cover;
  animation: fade 16s infinite;
  -webkit-animation: fade 16s infinite;
}
.chien-slide2 {
  background: url(http://localhost:3008/chien-images/bn-2.jpg) no-repeat center;
  background-size: cover;
  animation: fade2 16s infinite;
  -webkit-animation: fade2 16s infinite;
}
.chien-slide3 {
  background: url(http://localhost:3008/chien-images/bn-3.jpg) no-repeat bottom;
  background-size: cover;
  animation: fade3 16s infinite;
  -webkit-animation: fade3 16s infinite;
}
.chien-slide4 {
  background: url(http://localhost:3008/chien-images/bn-4.jpg) no-repeat center;
  background-size: cover;
  animation: fade4 16s infinite;
  -webkit-animation: fade4 16s infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
    left: -50px;
  }
  25% {
    opacity: 0;
    left: -100px;
  }
  50% {
    opacity: 0;
    left: 0px;
  }
  75% {
    opacity: 0;
    left: 0px;
  }
  100% {
    opacity: 1;
    left: -50px;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
    left: 0px;
  }
  25% {
    opacity: 1;
    left: -50px;
  }
  50% {
    opacity: 0;
    left: -100px;
  }
  75% {
    opacity: 0;
    left: 0px;
  }
  100% {
    opacity: 0;
    left: 0px;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
    left: 0px;
  }
  25% {
    opacity: 0;
    left: 0px;
  }
  50% {
    opacity: 1;
    left: -50px;
  }
  75% {
    opacity: 0;
    left: -100px;
  }
  100% {
    opacity: 0;
    left: 0px;
  }
}
@keyframes fade4 {
  0% {
    opacity: 0;
    left: 0px;
  }
  25% {
    opacity: 0;
    left: 0px;
  }
  50% {
    opacity: 0;
    left: 0px;
  }
  75% {
    opacity: 1;
    left: -50px;
  }
  100% {
    opacity: 0;
    left: -100px;
  }
}
// .chien-parallax-scrolling-top {
//   height: 800px;
//   background-image: url(http://localhost:3008/chien-images/bn-2.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   background-attachment: fixed;
// }
/*↑↑↑↑↑↑↑↑↑↑ _chienbanner.scss ↑↑↑↑↑↑↑↑↑↑*/

/*↓↓↓↓↓↓↓↓↓↓ _chienmain.scss ↓↓↓↓↓↓↓↓↓↓*/
.chien-box-shadow {
  &:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.chien-main-bg {
  overflow: hidden;
}

.chien-bg {
  width: 35vw;
  position: absolute;
  z-index: 9987;
  left: 50%;
  bottom: 20%;
  margin-top: -100px;
}

.chien-main-2-1 {
  height: 40vh;
  background: url(http://localhost:3008/chien-images/main-2-1.jpg) center center
    no-repeat;
  background-size: cover;
  background-origin: content-box;
  margin-bottom: 30px;
}

.chien-main-2-2 {
  height: 40vh;
  background: url(http://localhost:3008/chien-images/main-2-2.jpg) center center
    no-repeat;
  background-size: cover;
  background-origin: content-box;
  margin-bottom: 30px;
}

.chien-main-2-3 {
  height: 40vh;
  background: url(http://localhost:3008/chien-images/main-2-3.jpg) center center
    no-repeat;
  background-size: cover;
  background-origin: content-box;
}

.chien-main-2-4 {
  height: 40vh;
  background: url(http://localhost:3008/chien-images/main-2-4.jpg) center center
    no-repeat;
  background-size: cover;
  background-origin: content-box;
}

.chien-prod-cont > a,
.chien-lesson-cont > a,
.chien-bid-cont > a {
  text-decoration: none;
  &:hover {
    // text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  }
}
/*↑↑↑↑↑↑↑↑↑↑ _chienmain.scss ↑↑↑↑↑↑↑↑↑↑*/

/*↓↓↓↓↓↓↓↓↓↓ _chienpolicycard.scss ↓↓↓↓↓↓↓↓↓↓*/
.chien-f-24 {
  font-size: 1.5rem;
  color: #615956;
}
.chien-f-12 {
  font-size: 0.75rem;
  line-height: 2rem;
  color: #615956;
}
.chien-card-title {
  color: #92b6ba;
  border-bottom: 3px solid #92b6ba;
}
/*↑↑↑↑↑↑↑↑↑↑ _chienpolicycard.scss ↑↑↑↑↑↑↑↑↑↑*/

/*↓↓↓↓↓↓↓↓↓↓ _chienfooter.scss ↓↓↓↓↓↓↓↓↓↓*/
.chien-parallax-scrolling {
  height: 605px;
  background-image: url(http://localhost:3008/chien-images/bn-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.chien-social-icon {
  color: #fcaa3e;
}
.chien-f-14 {
  font-size: 0.875rem;
  line-height: 2rem;
  color: #615956;
}
.chien-f-12 {
  font-size: 0.75rem;
  line-height: 2rem;
  color: #615956;
}
.chien-footer-top {
  background-color: hsla(186, 22%, 65%, 0.8);
}
.chien-aboutus-content {
  color: #615956;
  line-height: 30px;
}
.chien-contactus-subtitle {
  color: #615956;
}
.chien-news-content {
  color: #615956;
}
.chien-footer-bottom {
  background-color: hsla(187, 22%, 39%, 0.8);
}
.chien-hidden-icon {
  color: hsla(187, 22%, 39%, 0.8);
}
.chien-footer-bg {
  height: 100vh;
  background-image: url('http://localhost:3008/chien-images/cmbg.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}
/*↑↑↑↑↑↑↑↑↑↑ _chienfooter.scss ↑↑↑↑↑↑↑↑↑↑*/
