.cindyorder {
  .cindy-table {
    border-bottom: none;
  }
  tbody {
    td:first-child {
      img {
        height: 93px;
        overflow: hidden;
      }
    }
    td {
      button {
        svg {
          margin-left: 3px;
        }
      }
    }
  }
}
