.cindy-form {
  .forgetpass {
    display: block;
    text-align: right;
    margin: 10px 0;
<<<<<<< HEAD
    text-decoration: none;
    color: $info;
=======
>>>>>>> 9e87de6805a2b741973becd84076797c0dc0132f
  }
  .loginbtn {
    display: block;
    margin: 50px auto;
    margin-top: 147px;
    font-size: $font-size-base * 0.94;
    text-align: center;
    border: none;
    background-color: transparent;
    color: $primary;
    padding: 14px 50px;
    //底線推這裡
    border-radius: 5px;
    border: 1px solid $primary;
    &:hover {
      color: white;
      background-color: $primary;
    }
  }
}
