.cindy-boxtag {
  margin: auto 0;
  color: $success;
  .tag {
    cursor: pointer;
    background: hsla(0, 0%, 100%, 0.8);
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    text-align: center;
    border-radius: 5px 0 0 5px;
    padding: 30px 15px 20px 15px;
    font-size: $font-size-base;
    &:hover {
      color: $primary;
    }
  }
  .cindy-memberbox {
    margin-top: 50px;
  }
}
.cindy-form-control {
  background: hsla(0, 0%, 100%, 0.8);
  height: 100vh;
  padding: 40px 70px;
  //底線推這裡
  .p-control {
    margin: 30px auto;
    border-bottom: 3px solid $primary;
    padding-bottom: 30px;
    p {
      color: $primary;
      font-size: $font-size-base * 1.5;
      text-align: center;
    }
  }
  .cindy-form {
    margin: 80px auto;
    padding: 0 60px;
    .memberbtn {
      display: block;
      margin: 50px auto;
      font-size: $font-size-base * 0.94;
      text-align: center;
      border: none;
      background-color: transparent;
      color: $primary;
      padding: 14px 50px;
      //底線推這裡
      border-radius: 5px;
      border: 1px solid $primary;
      &:hover {
        color: white;
        background-color: $primary;
      }
    }
  }
}
