*,
*::before,
*::after {
  box-sizing: border-box;
}

.EX-container {
  position: relative;
  z-index: -1;
}
.snail-banner {
  // height: 605px;
  background: url('http://localhost:3008/snail-imgs/course-banner1.jpg') center
    center no-repeat;
  background-size: cover; //background-attachment: fixed;
  padding-top: 605px;
  // background-color: red;
}

.experience-list {
  padding: 5px;
  //高度寫死就不影響其他div
  // height: 100px;
  .experience-list-item {
    border-bottom: 1px solid $info;
    padding: 20px;
  }
}
.snail-list-text {
  // margin-bottom: 100px;
  color: #615956;
  font-size: $font-size-base * 0.875; //14px;
  /* letter-spacing: 100px; */
  line-height: 33px;
}

//查看更多按鈕
.read-more-state {
  display: none;
}
.read-more-state ~ .read-more-trigger:before {
  content: '查看更多';
}
.read-more-state ~ .cindy-check svg {
  transition: transform 0.5s;
}
.read-more-state:checked ~ .read-more-trigger:before {
  content: '顯示部分內容';
}
.read-more-state:checked ~ .cindy-check svg {
  transition: transform 0.5s;
  -webkit-transform: rotateZ(-180deg);
  -ms-transform: rotateZ(-180deg);
  transform: rotate(-180deg);
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.2s ;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

// 體驗課程標題文字
.snail-pricetitle {
  font-size: 24px;
  color: #615956;
}
// 價目表
// .snail-pricelist {
//   ul {
//     li {
//       padding-bottom: 20px;
//       border-bottom: 1px solid rgb(206, 206, 206);
//       margin-top: 20px;
//       label {
//         margin-left: 20px;
//       }
//     }
//   }
// }

.more {
  right: 0;
}
//課程介紹文字區塊
.course-card-content {
  margin: 50px 0;

  .course-card-p {
    margin-bottom: 100px;
    color: #615956;
    line-height: 33px;
    // font-size: $font-size-base;
    margin-left: 30px;
  }
}
.course-title {
  // font-size: $font-size-base * 1.5;
  font-size: 24px;
  color: $primary;
  margin-top: 80px;
  margin-bottom: 20px;
  // border-bottom: 1px solid $primary;
}
//   評價與作品的小標
.course-title-sm {
  // font-size: $font-size-base;
  color: #615956;
  margin: 44px 0;
  font-size: 20px;
}

//課程日期文字
.snail-radioitem-text {
  margin-bottom: 20px;
  color: #615956;
  font-size: $font-size-base * 0.875; //14px;
  /* letter-spacing: 100px; */
  line-height: 33px;
  border-bottom: 1px solid #dbd7d6;
}

//內容圖片
.ex-img {
  margin: 25px 0;
}
.ex-img img {
  max-width: 100%;
}

.avatar-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: pink;
  position: absolute;
}
.message-card {
  position: relative;
  padding: 10px;
  margin-bottom: 5px;
  .message-card-content {
    span {
      color: #615956;
    }
  }
}
.message-card-content {
  padding: 5px 0px 5px 80px;
}
.message-card-content-item {
  margin: 5px;
}
.snail-message-text {
  margin-bottom: 20px;
  color: #615956;
  font-size: $font-size-base * 0.875; //14px;
  /* letter-spacing: 100px; */
  line-height: 33px;
  border-bottom: 1px solid #dbd7d6;
}
.snail-inputmessage-text {
  margin-bottom: 20px;
  color: #615956;
  font-size: $font-size-base * 0.875; //14px;
  /* letter-spacing: 100px; */
  line-height: 33px;
}
// 學員作品照片
.portfolio-box {
  height: 20vh;
  background-color: rgb(204, 89, 166);
  //   border: 1px solid;
  margin: 10px;
  display: flex;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
  }
}
//作品
.message-pic-photo {
  height: 80px;
  width: 80px;
}

//會員留言輸入
.my-message-card {
  padding: 20px;
  .course-title-t {
    color: $primary;
    line-height: 33px;
    // font-size: $font-size-base;
    font-size: 14px;
  }
}

//進度條
.progress {
  margin: 30px;
}

.radiobox {
  height: 50px;
  background-color: $warning;
  padding-left: 20px;
  //高度與行高相同則上下置中
  line-height: 50px;
  //左右置中
  // text-align:center;
  margin: 10px 0 0 50px;
  label {
    padding-left: 20px;
  }
  &:hover {
    box-shadow: 1px 1px rgb(182, 182, 182), 2px 2px rgb(182, 182, 182), 3px 3px rgb(182, 182, 182);
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: transform 0.2s;
  }
}

//購物車



@media (max-width: 768px) {
  .ninginfo-btn.snail-cart {
    position: fixed;
    bottom: 30px;
    left: 10px;
    transform: translate(0, -50%);
    z-index: 998;
    max-width: 700px;
    background-color: $info;
    color: #fff;
    justify-content: center;
  }
}

//FOOTer背景
.snail-f-bg {
  height: 130vh;
  background-image: url('http://localhost:3008/snail-imgs/snail-footer-bg3.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}
//星星
.star {
  display: inline-block;
  cursor: pointer;
}

.inactive,
.active {
  background: transparent;
  user-select: none;
}

.inactive {
  color: #f1f1e8;
}

.active {
  color: red;
}

.snail-nav {
  li {
    a {
      text-decoration: none;
    }
  }
}
