.snail-banner {
  // height: 605px;
  background: url("http://localhost:3008/snail-imgs/course-banner1.jpg") center center no-repeat;
  background-size: cover; //background-attachment: fixed;
  padding-top: 605px;
  // background-color: red;
}

// 日曆框框
.experience-calendar {
  position: fixed;
  height: 300px;
  width: 300px;
  background-color: rgb(221, 152, 152);
  top: 100px;
  right: 80px;
  .calendar-group{
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
  }
}

// 體驗課程標題文字
.snail-pricetitle {
  font-size: 24px;
  color: #615956;
}
// 價目表
.snail-pricelist {
  ul {
    li {
      padding-bottom: 20px;
      border-bottom: 1px solid gray;
      margin-top: 20px;
    }
  }
}

.more {
  right: 0;
}
//課程介紹文字區塊
.course-card-content {
  margin: 50px 0;

  .course-card-p {
    margin-bottom: 100px;
    color: #615956;
    line-height: 33px;
    // font-size: $font-size-base;
    margin-left: 30px;
  }
}
.course-title {
  // font-size: $font-size-base * 1.5;
  font-size: 24px;
  color: $primary;
  margin-top: 80px;
  margin-bottom: 20px;
  // border-bottom: 1px solid $primary;
}
//   評價與作品的小標
.course-title-sm {
  // font-size: $font-size-base;
  color: #615956;
  margin: 44px 0;
  font-size: 20px;
  
}

.avatar-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: pink;
  position: absolute;
}
.message-card {
  position: relative;
  padding: 10px;
  margin-bottom: 5px;
  .message-card-content {
    span {
      color: #615956;
    }
  }
}
.message-card-content {
  padding: 5px 0px 5px 80px;
}
.message-card-content-item {
  margin: 5px;
}
// 學員作品照片
.portfolio-box {
  height: 200px;
  //   background-color: rgb(204, 89, 166);
  //   border: 1px solid;
  margin: 10px;
  display: flex;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}

//會員留言輸入
.my-message-card {
  padding: 20px;
  .course-title-t {
    color: $primary;
    line-height: 33px;
    // font-size: $font-size-base;
    font-size: 14px;
  }
}

//進度條
.progress {
  margin: 30px;
}

