// banner
.snail-cat-bg {
  height: 80vh;
  background-image: url('http://localhost:3008/snail-imgs/course-banner1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.categorycard-pic {
  width: 100%;
  height: 400px;
  margin: 20px 20px;
  //  background-image: url('./img/class1.jpg');
  margin: 10px;
  background-size: contain;
  background: red;
  transition: 0.5s;
  position: relative;

  .categorycard-Entitle {
    // font-size: $font-size-sm;
    font-size: 14px;
    position: absolute;
    top: 75%;
    left: 15%;
    // background-color: #fff;
    color: white;
  }
  .categorycard-Chtitle {
    // font-size: $font-size-base * 2.06;
    font-size: 33px;
    position: absolute;
    top: 80%;
    left: 15%;
    // background-color: #fff;
    color: white;
  }
  &:hover {
    // background: rgb(87, 87, 87);
    opacity: 0.5;
    // color: rgba(27, 27, 27, 0.466);
    p{
        color: black;
    }
  }
}
.catbackground{
  height: 80vh;
  background-image: url('http://localhost:3008/snail-imgs/course-banner1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //圖片位置
  background-position: 100% 50%;
}