.onlinepage-video{
    background-color: rgb(131, 99, 99);
    height: 300px;

}
.onlinepage-list{
    background-color: rgb(216, 76, 76);
    height: 300px;
   
}


.teacher-chat{
        position: fixed;
        height: 50px;
        width: 50px;
        background-color: rgb(148, 187, 224);
        bottom:30px;
        right: 50px;
    }