// 自己使用的變數
$primary: #92b6ba; //$blue !default; #4e757a
$secondary: #92b6ba; //$gray-600 !default;
$success: #615956; //$green !default;
$info: #fcaa3e; //$cyan !default;
$warning: #dbdbdf; //$yellow !default;
$danger: #ff7e7e !default;

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    // 0: 0,
    // 1: ($spacer * .25),
    // 2: ($spacer * .5),
    // 3: $spacer,
    // 4: ($spacer * 1.5),
    // 5: ($spacer * 3)
    0: 0,
    1: 5px,
    2: 10px,
    3: 15px,
    4: 20px,
    5: 30px,
    6: 40px,
    7: 50px,
    8: 60px,
    9: 75px,
    10: 105px,
    11: 150px
  ),
  $spacers
);
