.winnie-product-t-bg {
  height: 80vh;
  background-image: url('http://localhost:3008/winnie-images/hero-p-1.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}
.breadcrumb {
  padding: 0px;
  margin-top: 20px;
  background-color: transparent;
}
.breadcrumb-item > a {
  color: #92b6ba;
}
.winnie-title {
  font-family: 'Cinzel', serif;
  font-size: $font-size-base * 2.4; //38.4px
  line-height: 25px;
  color: #77777a;
  margin-top: 50px;
}
.winnie-text {
  margin-bottom: 100px;
  color: #615956;
  font-size: $font-size-base * 0.875; //14px;
  /* letter-spacing: 100px; */
  line-height: 33px;
}
#carouselExampleInterval {
  margin: 100px 0px;
}
.winnie-classbg {
  background-image: url('http://localhost:3008/winnie-images/class-bg.png');
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: 100px;
  margin-bottom: 260px;
  height: 311px;
  position: relative;
  opacity: 80%;
}

.winnie-classbg > p {
  position: absolute;
  font-size: $font-size-base * 1.6; //24px;
  text-align: center;
  line-height: 24px;
  color: white;
  width: 20%;
  height: 15%;
  border-bottom: solid 1px white;
  top: 18%;
  left: 40%;
}

.winnie-search {
  font-size: $font-size-base; //16px;
}
.winnie-search > input {
  border: none;
  border-bottom: 1px solid $primary;
  text-align: center;
  color: #615956;
}

select,
option {
  border-radius: 5px;
  border: 2px solid #92b6ba;
  color: #92b6ba;
}

.winnie-product-f-bg {
  height: 60vh;
  background-image: url('http://localhost:3008/winnie-images/product-bg.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  //padding-bottom: 400px;
}
