.winnie-transition-bg {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;

  /* IE10、Firefox and Opera，IE9以及更早的版本不支持 */
  animation-name: light-bg;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;

  /* Safari and Chrome */
  -webkit-animation-name: light-bg;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;

  @keyframes light-bg {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.1;
    }
  }

  @-webkit-keyframes light-bg {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.1;
    }
  }
}

.winnie-product-t-bg {
  height: 80vh;
  background-image: url('http://localhost:3008/winnie-images/hero-p-1.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}
.breadcrumb {
  padding: 0px;
  margin-top: 20px;
  background-color: transparent;
}
.breadcrumb-item > a {
  color: #92b6ba;
}
.winnie-title {
  font-family: 'Cinzel', serif;
  font-size: $font-size-base * 2.4; //38.4px
  line-height: 25px;
  color: #77777a;
  margin-top: 50px;
}
.winnie-text {
  margin-bottom: 100px;
  color: #615956;
  font-size: $font-size-base * 0.875; //14px;
  /* letter-spacing: 100px; */
  line-height: 33px;
}
#carouselExampleInterval {
  margin: 100px 0px;
}

.carousel-caption {
  color: white; //#d4d1d0
}
.winnie-classbg {
  background-image: url('http://localhost:3008/winnie-images/class-bg.png');
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: 100px;
  margin-bottom: 260px;
  height: 311px;
  position: relative;
  opacity: 80%;
}

.winnie-classbg > p {
  position: absolute;
  font-size: $font-size-base * 1.6; //24px;
  text-align: center;
  line-height: 24px;
  color: white;
  width: 20%;
  height: 15%;
  border-bottom: solid 1px white;
  top: 18%;
  left: 40%;
}

.winnie-search {
  font-size: $font-size-base; //16px;
}
.winnie-search > input {
  border: none;
  border-bottom: 1px solid $primary;
  text-align: center;
  color: #615956;
  outline: none;
}

select,
option {
  border-radius: 5px;
  border: 2px solid #92b6ba;
  color: #92b6ba;
  outline: none;
}

.winnie-product-f-bg {
  height: 130vh;
  background-image: url('http://localhost:3008/winnie-images/product-bg.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;

  //padding-bottom: 400px;
}

//RWD

// .winnierwd {
//   margin-right: 800px;
// }

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .winnie-classimg li {
    position: relative;
    flex-wrap: wrap;
    margin-left:0 30px;
    height: 100px;
    width: 90px;
  }
  .winnie-classimg li p {
    font-size: 16px;
    text-align: center;
    color: #615956;
    margin: auto;
  }
}

@media only screen and (min-width: 0px) and (max-width: 375px){
  .winnie-classimg li {
    position: relative;
    flex-wrap: wrap;
    margin:0 10px;
    height: 60px;
    width: 50px;
  }
  .winnie-classimg li p {
    font-size: 14px;
    text-align: center;
    color: #615956;
    margin: auto;
  }
}
